pool:
  vmImage: 'windows-2019'

trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    exclude:
      - README.md
      - /doc/**/*

pr:
  branches:
    include:
      - master
  paths:
    exclude:
      - README.md
      - /doc/**/*

variables:
  - group: 'External Resources'

steps:
- task: gittools.gitversion.gitversion-task.GitVersion@4
  displayName: GitVersion
  inputs:
    preferBundledVersion: false

- task: petersendev.dotnet-global-tool-installer.DotnetGlobalToolInstaller.DotnetGlobalToolInstaller@0
  displayName: 'install housework'
  inputs:
    name: housework

- script: 'housework author src/*.csproj -s build.ini -r'
  displayName: 'author csproj'

- script: 'housework setbuildnumber %Version% -s build.ini'
  displayName: 'set build number'

- script: 'housework pushvars Version -s build.ini'
  displayName: 'push variables'

- task: DotNetCoreCLI@2
  displayName: 'build all'
  inputs:
    projects: src/Config.Net.sln
    arguments: '-c release'

- task: DotNetCoreCLI@2
  displayName: 'unit tests'
  inputs:
    command: test
    projects: src/Config.Net.Tests
    arguments: '-c release'

- task: CopyFiles@2
  displayName: 'copy generated nugets'
  inputs:
    SourceFolder: src
    Contents: '**/*.nupkg'
    TargetFolder: ' $(build.artifactstagingdirectory)'
    CleanTargetFolder: true
    OverWrite: true
    flattenFolders: true

#- task: PublishBuildArtifacts@1
#   condition: "eq(variables['Build.SourceBranch'], 'refs/heads/master')"
#  displayName: 'publish nugets'
#  inputs:
#    ArtifactName: nuget